.list-wrapper {
  overflow: auto;
  display: block;
  grid-area: chat;

  margin: 0;
  padding: 0 1.2rem;
}

.message-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  scroll-behavior: smooth;

  padding: 0;

  list-style: none;
}

.the-anchor {
  overflow-anchor: auto;
  height: 0.1rem;
  scroll-behavior: smooth;
}
