.list-wrapper {
  overflow: auto;
  display: block;
  grid-area: chat;
  flex: 1;

  margin: 0;
  padding: 0 1.2rem;
}

.message-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  padding: 0;

  list-style: none;
}
