<nav class="sidebar-wrapper">
  <p class="sidecord-name">The Breath Mints Historical Discord Presents</p>
  <h1 class="channel-name"># watch-watch-mints</h1>
</nav>

<style>
  .sidebar-wrapper {
    grid-area: sidebar;
    background-color: var(--off-dark);
    padding: 0 0.8rem;
  }

  @media (max-width: 680px) {
    .sidebar-wrapper {
      display: none;
    }
  }

  .sidecord-name {
    color: var(--dark-mode-dark);
    padding: 2rem 0;
  }

  .channel-name {
    color: var(--dark-mode-dark);
    padding: 0.5rem 2rem;
    background-color: var(--light-mode-dark-grey);
    border-radius: 4px;
    font-weight: bold;
  }
</style>
