.markdown-blockquote {
  margin: 0.3rem 0 0 0.2rem;
  padding: 0.3rem 0 0.3rem 0.5rem;
  border-left: 4px solid var(--light-grey);
}

.markdown-anchor {
  color: var(--link-blue);
  text-decoration: none;
}

.markdown-anchor:hover,
.markdown-anchor:focus {
  text-decoration: underline;
}

.markdown-blockquote code {
  font-size: 1.2rem;
  white-space: pre;
}

.markdown-blockquote code::before {
  content: '\A';
}

.markdown.spoiler {
  padding: 0.1rem;
  color: grey;
  background: grey;
  border-radius: 4px;
}

.markdown.spoiler:hover,
.markdown.spoiler:focus {
  color: var(--dark);
  background-color: var(--light-grey);
}
